* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-star: #FCB502;
    --background-color-red-btn: #da2c00;
    --background-color-blue-btn: #039BE5;
    --background-color-footer: #03346E;

}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

.common-div {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    justify-content: center;
}

body {
    min-height: 100dvh;
}

p {
    line-height: 1.5rem;
}

/*imp! HEADER */


header {
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.938rem #00000010;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}



.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    text-align: center;
    width: 100%;
    margin: 0%;
}

.logo-div {
    width: 6rem;
    height: 3.0125rem;
}

.logo-div img {
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    background-color: #fff;
    z-index: 80;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    color: #000;
    padding: 1.8rem 0.7rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    width: 100%;
}

@media (width>850px) {

    .nav-links li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        min-width: 6rem;
        padding: 0rem 0.5rem;
        transition: all 0.2s ease-in-out;
    }

    .nav-links li:hover {
        background-color: var(--background-color-addbtn-hover);
    }
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 1px;
    transition: all 0.2s ease-in-out;
}

.nav-links li a:hover:after {
    width: 100%;
}

.c-open-menu,
.c-close-menu {
    position: absolute;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.c-open-menu {
    top: 35%;
    right: 1.25rem;
    transform: translateY(-50);
}

.c-close-menu {
    top: 2rem;
    right: 1.25rem;
}

.nav-icons i {
    padding-left: 1.25rem;
    font-size: 1.1rem;
}

#check {
    display: none;
}

.jacket-categories-main {
    position: absolute;
    top: 5rem;
    overflow: hidden;
    background-color: #fff;
    min-width: 13rem;
    max-height: 14rem;
    opacity: 0;
    visibility: hidden;
}

.jacket-categories-sub ul {
    display: flex;
    flex-direction: column;
}

.jacket-categories-sub ul li a {
    display: block;
    width: 100%;
}

.nav-links li:hover .jacket-categories-main {
    visibility: visible;
    transition: max-height 0.2s ease-in;
    opacity: 1;

}

.jacket-links-mobile {
    display: none;
}

@media (width <850px) {

    .nav-links a {
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: 500;
        color: #fff;

    }

    .jacket-links-mobile .c-summary-btn {
        display: flex;
        align-items: center;
        height: 3.6rem;
        transition: all 0.5s ease-in-out;

        &:hover {
            background-color: lightgray;
            color: #000000;
            border-bottom: 0.7rem solid red;
            margin: auto;
        }
    }



    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100dvh;
        padding-bottom: 5rem;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        background-color: #03346E;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .nav-links li :hover {
        background-color: lightgray;
        display: flex;
        width: 100%;
    }

    .nav-links li .nav-item {
        padding: 1rem;
        color: white;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li .nav-item:hover {
        color: #000000;
        border-bottom: 0.7rem solid red;
        margin: auto;

    }


    .c-open-menu,
    .c-close-menu {
        display: flex;
    }

    .c-close-menu i {
        color: white;
    }

    #check:checked~.nav-links {
        right: 0%;
    }


    .jacket-categories-main {
        position: absolute;
        top: 15rem;
        overflow: hidden;
        background-color: #fff;
        min-width: 13rem;
        max-height: 7rem;
        opacity: 0;
        visibility: hidden;
    }

    .jacket-categories-sub ul {
        display: flex;
        flex-direction: column;
    }

    .jacket-categories-sub ul li a {
        display: block;
        width: 100%;
        padding: 0.3rem 0.7rem;

    }

    .nav-links li:hover .jacket-categories-main {
        visibility: visible;
        transition: max-height 0.2s ease-in;
        opacity: 1;

    }

    .jacket-links-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #jacket-links {
        display: none;
        background-color: red;
    }

    .jacket-links-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.5s ease-in-out;
        width: 100%;
    }

    .jacket-summary {
        display: flex;
        text-decoration: none;
        list-style-type: none;
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        padding: 1rem;
    }

    .jacket-summary::-webkit-details-marker {
        display: none;
    }

    .jacket-links-mobile .jacket-summary:hover {
        background-color: lightgray;
        color: #000000;
        width: 100%;
        border-bottom: 0.7rem solid red;
        margin: auto;
    }

}

.nav-icons {
    display: flex;
}

@media (width<600px) {
    .desktop-nav {
        padding: 2rem 4rem 2rem 1.3rem;
    }
}

/* imp! SECTION-1 */


.hero-page-hr-1 {
    height: none;
    border: none;
}

.section-1-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 6rem 3rem 6rem;

}

.sec-1-title-div-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.sec-1-title-div-about h4 {
    font-family: 'Roboto';
    font-size: 2.4rem;
    font-weight: 500;
    padding-bottom: 1rem;

}

.sec-1-title-div-about p {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;

}

.sec-1-title-about h2 {
    font-family: Roboto;
    font-size: 2.7rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.sec-1-main-container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;
    gap: 5rem;
}

.sec-1-sub-common {
    display: flex;
    flex: 1 1 100%;
    gap: 3rem;
}

.sec-1-sub-img {
    display: flex;
    flex: 1 1 40%;
}

.sec-1-sub-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sec-1-sub-text {
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
    gap: 1.8rem;
}

.sec-1-sub-text p {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.8rem;
    text-align: justify;
}

.sec-1-sub-img-2 {
    display: flex;
    flex: 1 1 60%;
}

.sec-1-sub-img-2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sec-1-sub-text-2 {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    gap: 1.8rem;
}

.sec-1-sub-text-2 p {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.8rem;
    text-align: justify;
}

.sec-1-sub-text-2 h3 {
    font-family: Roboto;
    font-size: 2.6rem;
    font-weight: 400;
}

.sec-1-sub-container-2 {
    align-items: center;
}

@media (width<768px) {
    .sec-1-sub-common {
        flex-direction: column;
    }
}

@media (width<600px) {
    .section-1-about {
        padding: 7rem 2rem 2rem 2rem;
    }

    .sec-1-title-div-about h4 {
        font-size: 1.6rem;
    }

    .sec-1-title-div-about {
        padding-bottom: 0;
    }

    .sec-1-main-container {
        padding-top: 1rem;
        gap: 3rem;
    }

    .hero-page-hr-1 {
        height: none;
        border: 1;
        border-top: 0.5px solid #00000050;
    }
}

/*imp! section-2 */


.section-2 {
    padding: 4.5rem 16rem;
}

.section-2-main-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
    justify-content: center;
}

.section-2-col-1 {
    display: flex;
    flex-direction: row;
}

.section-2-common-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-2-title-text-common {
    display: flex;
    flex-direction: column;
    gap: 21rem;
    font-size: 1.1em;
    font-family: 'Prompt';
    font-weight: 600;
    text-align: center;
}

.section-2-description-text-common {
    font-family: 'Roboto';
    font-size: 1rem;
    text-align: justify;
    font-weight: 300;
    line-height: 1.2rem;

}

.section-2-col-text-side-line {
    height: 8rem;
    width: 0.3rem;
    background-color: #000000;
}

.section-2-col-1 {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.section-2-col-2 {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.hero-page-hr-5 {
    height: none;
    border: none;
    border-top: 0.5px solid #00000050;
}


@media (width<600px) {

    .section-2 {
        padding: 3rem 6rem 3rem 6rem;
        flex-direction: column;
    }

    .section-2-main-container {
        flex-direction: column;
        gap: 3rem;
    }

    .section-2-common-text {
        gap: 1rem;
    }

    .section-2-col-1 {
        flex-direction: column;
        gap: 2rem;
    }

    .section-2-col-text-side-line {
        width: 8rem;
        height: 0.021rem;
    }

    .section-2-col-2 {
        flex-direction: column;
        gap: 2rem;
    }

    .section-2-col- {
        flex-direction: column;
        gap: 2rem;
    }

    .section-2-description-text-common {
        text-align: center;
    }
}

@media (width>600px) {
    .section-2 {
        display: none;
    }

}

/*imp! PAYMENT METHOD */


.section-6 {
    padding: 2rem 8.125rem;
}

.section-6-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.section-6-payment-common {
    width: 2.50rem;
    height: 1.50rem;
    display: flex;
    align-items: center;
}

.section-6-main-container img {
    width: 100%;
    height: auto;
}


.section-6-klarna {
    width: 3.6rem;
}

.section-6-paypal {
    width: 2.5rem;
}

.section-6-vipps {
    width: 4rem;
}

.hero-page-hr-6 {
    height: none;
    border: none;
    border-top: 0.5px solid #00000050;
}

@media (width<600px) {
    .section-6 {
        padding: 2rem 2rem;
    }
}


/*imp! FOOTER */



.l-footer-main-1 {
    width: 100%;
    height: auto;
    padding-top: 4.25rem;
    padding-bottom: 1.5rem;
    background-color: #03346E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.l-footer-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;

}

.l-footer-col-1 {
    width: 9rem;
    height: auto;
    margin-right: 3rem;
}

.l-footer-col-1 img {
    width: 100%;
    opacity: 70%;
    cursor: pointer;
}

.l-footer-col-2 {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    margin-right: 2rem;
}

.l-footer-sub-col-common {
    display: flex;
    flex-direction: column;
}

.l-footer-sub-col-common h6 {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-bottom: 1.5rem;
    cursor: pointer;
    display: inline;
}

.l-footer-help-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.l-footer-help-list a {
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}

.l-footer-col-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.l-footer-col-3 h6 {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-bottom: 1rem;
}

.l-footer-col-3 i {
    color: white;
    font-size: 1.1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.l-footer-col-4 {
    display: flex;
    flex-direction: column;
    width: 8.7rem;
    gap: 0.4rem;
}

.l-footer-col-4 img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.l-footer-main-2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.4rem;
}

.l-footer-row-2-item-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.l-footer-row-2-item-1 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.l-footer-row-2-line {
    display: flex;
    flex-basis: 82%;
    background-color: #fff;
    height: 0.2px;

}

.l-footer-row-2-text {
    display: flex;
    flex-basis: 18%;
    justify-content: space-between;
}

.l-footer-row-2-text a {
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}

.l-footer-row-2-item-2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    color: white;
}



@media (600px<width<1220px) {

    .l-footer-row-1 {
        flex-direction: column;
        width: 100%;
    }

    .l-footer-col-2 {
        margin-right: 0rem;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .l-footer-col-3 {
        padding-top: 3rem;
    }

    .l-footer-col-4 {
        padding-top: 3rem;
    }
}

/* imp! MOBILE FOOTER */

.l-footer {
    background-color: #03346e;
    color: white;
    display: flex;
    flex-direction: column;
}

.c-footer-col {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem
}

.c-footer-help {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.c-footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}

.c-footer-summary {
    display: flex;
    justify-content: space-between;
    font-family: 'play';
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.c-footer-summary::-webkit-details-marker {
    display: none;
}

.c-summary-btn {
    display: flex;
    padding-top: 1.2rem;
    font-size: 16px;
    color: white;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.c-footer-region {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    border: 1px solid;
}

.c-region-country {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    font-family: 'Play';
    font-size: 1rem;
}

.c-region-change {
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    font-family: 'Play';
    font-size: 1rem;
}

.c-region-icon {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.c-footer-follow {
    display: flex;
    align-items: center;
    padding-top: 4rem;
}

.c-follow-p {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    gap: 1rem;
}

.c-follow-icons {
    display: flex;
    gap: 1.3rem;
}

.c-follow-icons i {
    font-size: 1.2rem;
}

.c-follow-p p {
    font-family: 'Play';
    font-size: 1.125rem;
}

.c-follow-container {
    display: flex;
    flex: 1 1 60%;
    gap: 1rem;
}

.c-apple-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: auto;
}

.c-apple-container img {
    width: 100%;
    min-height: 2.7rem;
    border-radius: 0.5rem;
}

.c-google-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.c-google-container img {
    width: 100%;
    border-radius: 0.5rem;
    min-height: 2.7rem;
}

.c-footer-last {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    height: 42.77px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 0.9rem;
}

@media (width<520px) {
    .c-footer-follow {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .c-follow-container {
        max-width: 17rem;
    }

}

@media (width<600px) {
    .l-footer-main-1 {
        display: none;
    }
}

@media (width>600px) {
    .l-footer {
        display: none;
    }
}

@media (width<600px) {
    .l-footer {
        display: flex;
    }
}


/*imp! UTILITIES CSS */

.p-side {
    padding: 0rem 8.125rem;

}