* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-star: #FCB502;
    --background-color-red-btn: #da2c00;
    --background-color-blue-btn: #039BE5;
    --background-color-footer: #03346E;
    --background-color-addbtn: #da2c00;
    --background-color-addbtn-hover: #b5b5b5;

}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

.common-div {
    display: flex;
    flex-direction: column;
    padding: 4.5rem 6rem;
    justify-content: center;
}

body {
    min-height: 100dvh;
}

/*imp! HEADER */


header {
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.938rem #00000010;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}



.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    text-align: center;
    width: 100%;
    margin: 0%;
}

.logo-div {
    width: 6rem;
    height: 3.0125rem;
}

.logo-div img {
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    color: #000;
    /* padding-left: 1.438rem; */
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    justify-content: center;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 1px;
    transition: all 0.2s ease-in-out;
}

.nav-links li a:hover:after {
    width: 100%;
}

.c-open-menu,
.c-close-menu {
    position: absolute;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.c-open-menu {
    top: 35%;
    right: 1.25rem;
    transform: translateY(-50);
}

.c-close-menu {
    top: 2rem;
    right: 1.25rem;
}

.nav-icons i {
    padding-left: 1.25rem;
    font-size: 1rem;
}

#check {
    display: none;
}

@media (width <850px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100dvh;
        padding-bottom: 5rem;
        position: fixed;
        top: 0%;
        right: -100%;
        z-index: 100;
        background-color: #03346E;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .nav-links li :hover {
        background-color: lightgray;
        display: flex;
        width: 100%;
    }

    .nav-links li a {
        padding: 1rem;
        color: white;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li a:hover {
        color: #000000;
        border-bottom: 0.7rem solid red;
        margin: auto;

    }


    .c-open-menu,
    .c-close-menu {
        display: flex;
    }

    .c-close-menu i {
        color: white;
    }

    #check:checked~.nav-links {
        right: 0%;
    }
}


.nav-icons {
    display: flex;
}

@media (width<600px) {
    .desktop-nav {
        padding: 2rem 4rem 2rem 1.3rem;
    }
}

/*imp! SECTION-HERO */

.hero-img {
    padding-top: 7rem;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    background-image: url(/images/hero-img-large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5rem 6rem;
    width: 100%;
    overflow-x: hidden;
    transition: all 0.6s cubic-bezier(0.71, -0.12, 0, 1.23);
}

/* .hero-img-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0, 100) 0%, rgb(250, 250, 250, 0) 25%);
} */

.heading-div span {
    color: white;
    font-size: 5vw;
    font-family: 'Playfair Display';
    font-weight: 900;
}

.heading-div {
    width: 100%;
    height: auto;
    padding-top: 29%;
    padding-bottom: 5%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-basis: 60%;

}

.Durable {
    transform: translateX(-60rem);
    transition: all .6s cubic-bezier(0.71, -0.12, 0, 1.23);


}

.hero-img:hover .Durable {
    transform: translateX(0rem);
}


.All-Weather {
    transform: translateX(130rem);
    transition: all .6s cubic-bezier(0.71, -0.12, 0, 1.23);
}

.hero-img:hover .All-Weather {
    transform: translateX(0rem);
}

.Adventure {
    transform: translateX(-70rem);
    transition: all .6s cubic-bezier(0.71, -0.12, 0, 1.23);
}

.hero-img:hover .Adventure {
    transform: translateX(0rem);
}


.act-btn-div {
    display: flex;
    flex-basis: 40%;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.act-btn-hero {
    color: white;
    background-color: #039BE5;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Roboto';
    border-radius: 0.625rem;
    padding: 0.8rem 3rem;
    margin-bottom: 16%;

    &:hover {
        background-color: #F6B30B;
        ;
    }
}

@media (width<600px) {
    .hero-img {
        display: none;
    }

    .hero-img-mobile {
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        background-image: url(/images/hero-img-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 56% 5%;
        width: 100%;
        overflow-x: hidden;
        /* transition: all 0.6s cubic-bezier(0.71, -0.12, 0, 1.23); */
    }

    .hero-img-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading-div-mobile h2 {
        color: white;
        font-size: 2.5rem;
        font-family: 'Playfair Display';
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }

    .categories-main {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        gap: 0.5rem;
    }

    .categories-list-1 {
        display: flex;
        gap: 0.5rem;

    }

    .categories-list-1-item-1 button {
        height: 2.7rem;
        width: 11rem;
        border: 0px transparent;
    }


    .categories-list-1-item-1 button a {
        color: #000000;
        text-decoration: none;
    }

    .categories-list-1-item-2 button {
        height: 2.7rem;
        width: 11rem;
        border: 0px transparent;
    }

    .categories-list-1-item-2 button a {
        color: #000000;
        text-decoration: none;
    }

    .categories-list-2-item-1 button {
        height: 2.7rem;
        width: 11rem;
        border: 0px transparent;
    }

    .categories-list-2-item-1 button a {
        color: #000000;
        text-decoration: none;
    }

    .categories-list-2-item-2 button {
        height: 2.7rem;
        width: 11rem;
        border: 0px transparent;
    }

    .categories-list-2-item-2 button a {
        color: #000000;
        text-decoration: none;
    }

    .categories-list-1 {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .categories-list-2 {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .categories-list-1-item-1-common button:hover {
        background-color: #C91F2D;
        transition: all 0.2s ease-in-out;
    }

    .categories-list-1-item-1-common button:hover a {
        color: white;
        transition: all 0.2s ease-in-out;
    }
}

@media (width>600px) {
    .hero-img-mobile {
        display: none;
    }

}




/* imp! SECTION-1 */

.section-1-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}

.sec-1-main-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.sec-1-main-title-div h4 {
    font-family: 'Roboto';
    font-size: 2.4rem;
    font-weight: 500;
    padding-bottom: 1rem;

}

.sec-1-main-title-div p {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;

}


.section-1-hero-img {
    background-image: url(/images/contact-us-page/hero-img-contact-large.jpg);
    padding-top: 7rem;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5rem 6rem;
    width: 100%;
    min-height: 75dvh;
    justify-content: center;
    align-items: center;
}

.section-1-hero-img h1 {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Prompt';
    padding-top: 17rem;
}


/* imp! SECTION-2 */


.section-2-contact {
    padding: 4.5rem 6rem;
}

.section-2-title-contact h3 {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 600;
}

.section-2-text-contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

.section-2-text-contact p {
    font-family: Roboto;
    font-size: 1.1em;
    text-align: justify;
    font-weight: 400;
    line-height: 1.5rem
}


/* imp! SECTION-3 */


.section-3-contact {
    display: flex;
    flex-direction: column;
    padding: 0rem 6rem 4.5rem 6rem;

}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding-top: 2rem;
    gap: 1rem;
}

.section-3-title-contact h3 {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 600;
}

.form-container label {
    font-family: Roboto;
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
}

.form-container input {
    border: 0.1rem solid #686868;
    width: 100%;
    height: 2rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid #dde3ec;
}

.form-container textarea {
    border: 0.1rem solid #686868;
    width: 100%;
    height: 8rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid #dde3ec;
}

.area-lable {
    display: flex;
    flex-direction: column;
}

.form-input-contact::placeholder {
    font-weight: 300;
    color: #53638780;
}

.form-i-submit-contact {
    min-height: 2.5rem;
    background-color: #0146AC;
    color: #fff;
    border-radius: 3rem;
}

@media (width<999px) {
    .form-container {
        max-width: 100%;
    }
}

@media (width<600px) {
    .section-2-contact {
        padding: 2rem 2rem;
    }

    .section-3-contact {
        padding: 2rem 2rem;
    }
}



/*imp! FOOTER */



.l-footer-main-1 {
    width: 100%;
    height: auto;
    padding-top: 4.25rem;
    padding-bottom: 1.5rem;
    background-color: #03346E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.l-footer-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;

}

.l-footer-col-1 {
    width: 9rem;
    height: auto;
    margin-right: 3rem;
}

.l-footer-col-1 img {
    width: 100%;
    opacity: 70%;
    cursor: pointer;
}

.l-footer-col-2 {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    margin-right: 2rem;
}

.l-footer-sub-col-common {
    display: flex;
    flex-direction: column;
}

.l-footer-sub-col-common h6 {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-bottom: 1.5rem;
    cursor: pointer;
    display: inline;
}

.l-footer-help-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.l-footer-help-list a {
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}

.l-footer-col-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.l-footer-col-3 h6 {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding-bottom: 1rem;
}

.l-footer-col-3 i {
    color: white;
    font-size: 1.1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.l-footer-col-4 {
    display: flex;
    flex-direction: column;
    width: 8.7rem;
    gap: 0.4rem;
}

.l-footer-col-4 img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.l-footer-main-2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.4rem;
}

.l-footer-row-2-item-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.l-footer-row-2-item-1 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.l-footer-row-2-line {
    display: flex;
    flex-basis: 82%;
    background-color: #fff;
    height: 0.2px;

}

.l-footer-row-2-text {
    display: flex;
    flex-basis: 18%;
    justify-content: space-between;
}

.l-footer-row-2-text a {
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}

.l-footer-row-2-item-2 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
    color: white;
}



@media (600px<width<1220px) {

    .l-footer-row-1 {
        flex-direction: column;
        width: 100%;
    }

    .l-footer-col-2 {
        margin-right: 0rem;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .l-footer-col-3 {
        padding-top: 3rem;
    }

    .l-footer-col-4 {
        padding-top: 3rem;
    }
}

/* imp! MOBILE FOOTER */

.l-footer {
    background-color: #03346e;
    color: white;
    display: flex;
    flex-direction: column;
}

.c-footer-col {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem
}

.c-footer-help {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.c-footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}

.c-footer-summary {
    display: flex;
    justify-content: space-between;
    font-family: 'play';
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.c-summary-btn {
    display: flex;
    padding-top: 1.2rem;
    font-size: 16px;
    color: white;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.c-footer-region {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    border: 1px solid;
}

.c-region-country {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    font-family: 'Play';
    font-size: 1rem;
}

.c-region-change {
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    font-family: 'Play';
    font-size: 1rem;
}

.c-region-icon {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.c-footer-follow {
    display: flex;
    align-items: center;
    padding-top: 4rem;
}

.c-follow-p {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    gap: 1rem;
}

.c-follow-icons {
    display: flex;
    gap: 1.3rem;
}

.c-follow-icons i {
    font-size: 1.2rem;
}

.c-follow-p p {
    font-family: 'Play';
    font-size: 1.125rem;
}

.c-follow-container {
    display: flex;
    flex: 1 1 60%;
    gap: 1rem;
}

.c-apple-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: auto;
}

.c-apple-container img {
    width: 100%;
    min-height: 2.7rem;
    border-radius: 0.5rem;
}

.c-google-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.c-google-container img {
    width: 100%;
    border-radius: 0.5rem;
    min-height: 2.7rem;
}

.c-footer-last {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    height: 42.77px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 0.9rem;
}

@media (width<520px) {
    .c-footer-follow {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .c-follow-container {
        max-width: 17rem;
    }

}

@media (width<600px) {
    .l-footer-main-1 {
        display: none;
    }
}

@media (width>600px) {
    .l-footer {
        display: none;
    }
}

@media (width<600px) {
    .l-footer {
        display: flex;
    }
}




/*imp! UTILITIES CSS */

.p-side {
    padding: 0rem 8.125rem;

}