* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-star: #FCB502;
    --background-color-red-btn: #da2c00;
    --background-color-blue-btn: #039BE5;
    --background-color-footer: #03346E;
    --background-color-addbtn: #da2c00;
    --background-color-addbtn-hover: #b5b5b5;

}

/*imp! COMMON CSS */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}

p {
    line-height: 1.5rem;
}

/*imp! MAIN CSS */

.login-section {
    background-image: url(/images/login/bgimg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .login-logo {
        width: 15rem;
        height: auto;
    }

    .login-logo img {
        width: 100%;
    }

    .login-text-container {
        display: flex;
        flex-direction: column;
        max-width: 40rem;
        height: auto;
        background-color: #fff;
        padding: 4rem 4rem;
    }

    .login-info-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .login-text {
        display: flex;
        flex-direction: column;
    }

    .login-text label {
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        color: #000;
        padding-bottom: 0.3rem;
    }

    .login-input {
        height: 2.8rem;
        font-family: 'Roboto';
        font-size: 1.1rem;
        color: #000000;
        font-weight: 400;
        padding-left: 1rem;
        border: 0.1rem solid #686868;
    }

    .login-input::placeholder {
        color: #53638780;
    }

    .login-forgot {
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 300;
        padding: 1rem 0rem 1rem 0rem;
        padding-top: 1rem;
        color: #0000a0;
    }

    .login-submit {
        width: 100%;
        height: 2.5rem;
        border-radius: 0.3rem;
        border: transparent;
        background-color: #000000;
        color: #fff;
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-weight: 400;
        cursor: pointer;
    }

    .login-submit:active {
        background-color: var(--background-color-addbtn-hover);
    }

    .login-options {
        display: flex;
        justify-content: center;
        padding: 1rem 0rem 1rem 0rem;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .login-options a:nth-child(1) {
        display: flex;
        justify-content: center;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        background-color: #0146AC;
        color: #fff;
        width: 48%;
        padding: 0.5rem 2rem;
        border-radius: 0.3rem;
    }

    .login-options a:nth-child(2) {
        display: flex;
        justify-content: center;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        background-color: #34A853;
        color: #fff;
        width: 48%;
        padding: 0.5rem 2rem;
        border-radius: 0.3rem;
    }

    .login-options a:nth-child(3) {
        display: flex;
        justify-content: center;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        background-color: #FF5B24;
        color: #fff;
        width: 48%;
        padding: 0.5rem 2rem;
        border-radius: 0.3rem;
    }

    .login-create-account {
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 300;
        padding: 1rem 0rem 1rem 0rem;
        padding-top: 1rem;
        color: #0000a0;
    }

    .login-register {
        width: 100%;
        height: 2.5rem;
        border-radius: 0.3rem;
        border: transparent;
        background-color: #fff;
        color: #000000;
        font-family: 'Roboto';
        font-size: 1.2rem;
        font-weight: 400;
        border: 0.1rem solid #686868;
        cursor: pointer;
    }

    .login-register:active {
        background-color: #000000;
        color: #fff;
    }

}