* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*imp! COMMON CSS */

html {
  scroll-behavior: smooth;
}

.common-div {
  display: flex;
  flex-direction: column;
  padding: 4.5rem 6rem;
  justify-content: center;
}

.section-2-gallery-common {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 14.5rem;
  height: auto;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-size: 100%;
  font-family: 'Roboto';
  margin: 0;
  overflow-y: scroll;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*imp! HEADER */

header {
  height: 5rem;
  width: 100%;
  background-color: white;
  box-shadow: 0rem 0.25rem 0.938rem #00000010;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  text-align: center;
  width: 100%;
  margin: 0%;
}

.logo-div {
  width: 6rem;
  height: 3.0125rem;
}

.logo-div img {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 500;
  color: #000;
  /* padding-left: 1.438rem; */
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  justify-content: center;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: 1px;
  transition: all 0.2s ease-in-out;
}

.nav-links li a:hover:after {
  width: 100%;
}

.c-open-menu,
.c-close-menu {
  position: absolute;
  color: #000000;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.c-open-menu {
  top: 35%;
  right: 1.25rem;
  transform: translateY(-50);
}

.c-close-menu {
  top: 2rem;
  right: 1.25rem;
}

.nav-icons i {
  padding-left: 1.25rem;
  font-size: 1rem;
}

#check {
  display: none;
}

@media (width <850px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100dvh;
    padding-bottom: 5rem;
    position: fixed;
    top: 0%;
    right: -100%;
    z-index: 100;
    background-color: #03346e;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li {
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-links li :hover {
    background-color: lightgray;
    display: flex;
    width: 100%;
  }

  .nav-links li a {
    padding: 1rem;
    color: white;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li a:hover {
    color: #000000;
    border-bottom: 0.7rem solid red;
    margin: auto;
  }

  .c-open-menu,
  .c-close-menu {
    display: flex;
  }

  .c-close-menu i {
    color: white;
  }

  #check:checked ~ .nav-links {
    right: 0%;
  }
}

.nav-icons {
  display: flex;
}

@media (width<600px) {
  .desktop-nav {
    padding: 2rem 4rem 2rem 1.3rem;
  }
}

/*Main section  */

main {
  flex: 2 1 auto;
  margin-top: 112.2px;
}

.l-best-seller {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-6 {
  padding: 0rem;
}

.section-6-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 1.3rem;
}

.section-6-payment-common {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.section-6-main-container img {
  width: 100%;
  height: auto;
}

.section-6-klarna {
  width: 3.6rem;
}

.section-6-paypal {
  width: 2.5rem;
}

.section-6-vipps {
  width: 4rem;
}

.hero-page-hr-6 {
  height: none;
  border: none;
  border-top: 0.5px solid #00000050;
}

/* Footer */

.l-footer {
  background-color: #03346e;
  color: white;
}

.c-footer-col {
  display: flex;
  flex-direction: column;
  min-height: 560px;
  padding-left: 4%;
  padding-right: 4%;
}

.c-footer-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.c-footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 25px;
}

.c-footer-summary {
  display: flex;
  justify-content: space-between;
  font-family: 'play';
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.c-summary-btn {
  display: flex;
  padding-top: 0.2rem;
  font-size: 16px;
  color: white;
}

.c-footer-region {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  border: 1px solid;
}

.c-region-country {
  display: flex;
  flex-grow: 1;
  justify-content: left;
}

.c-region-change {
  display: flex;
  flex-grow: 1;
  font-weight: bold;
}

.c-region-icon {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.c-footer-follow {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  flex: 1 1 100%;
}

.c-follow-p {
  display: flex;
  flex: 1 1 50%;
}

.c-follow-container {
  display: flex;
  flex: 1 1 50%;
  gap: 1rem;
}

.c-apple-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: auto;
}

.c-apple-container img {
  width: 100%;
}

.c-google-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.c-google-container img {
  width: 100%;
}

.c-footer-last {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #03346e;
  height: 42.77px;
}

/* rgtbrbtr */
