* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*imp! COMMON CSS */

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-size: 100%;
  font-family: 'Roboto';
  margin: 0;
  overflow-y: scroll;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*imp! HEADER */

header {
  height: 5rem;
  width: 100%;
  background-color: white;
  box-shadow: 0rem 0.25rem 0.938rem #00000010;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  text-align: center;
  width: 100%;
  margin: 0%;
}

.logo-div {
  width: 6rem;
  height: 3.0125rem;
}

.logo-div img {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 500;
  color: #000;
  /* padding-left: 1.438rem; */
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  justify-content: center;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: 1px;
  transition: all 0.2s ease-in-out;
}

.nav-links li a:hover:after {
  width: 100%;
}

.c-open-menu,
.c-close-menu {
  position: absolute;
  color: #000000;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.c-open-menu {
  top: 35%;
  right: 1.25rem;
  transform: translateY(-50);
}

.c-close-menu {
  top: 2rem;
  right: 1.25rem;
}

.nav-icons i {
  padding-left: 1.25rem;
  font-size: 1rem;
}

#check {
  display: none;
}

@media (width <850px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100dvh;
    padding-bottom: 5rem;
    position: fixed;
    top: 0%;
    right: -100%;
    z-index: 100;
    background-color: #03346e;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li {
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-links li :hover {
    background-color: lightgray;
    display: flex;
    width: 100%;
  }

  .nav-links li a {
    padding: 1rem;
    color: white;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li a:hover {
    color: #000000;
    border-bottom: 0.7rem solid red;
    margin: auto;
  }

  .c-open-menu,
  .c-close-menu {
    display: flex;
  }

  .c-close-menu i {
    color: white;
  }

  #check:checked~.nav-links {
    right: 0%;
  }
}

.nav-icons {
  display: flex;
}

@media (width<600px) {
  .desktop-nav {
    padding: 2rem 4rem 2rem 1.3rem;
  }
}

/*Main section  */

main {
  flex: 2 1 auto;
  margin-top: 112.2px;
}

.c-adjust {
  padding-right: 4%;
  padding-left: 4%;
}

.c-jacket-header {
  display: flex;
  font-size: 16px;
  font-family: 'Prompt';
}

.c-jacket-filter {
  display: flex;
  padding-top: 27px;
  padding-bottom: 13px;
}

.c-hide-filter {
  display: none;
}

.c-header-items {
  display: flex;
  flex: 1 1 auto;
  font-weight: bold;
}

.c-header-sort {
  display: flex;
  flex: 15 1 auto;
  justify-content: end;
  text-transform: uppercase;
}

.c-header-filter {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
  text-transform: uppercase;
}

.c-jackets {
  display: flex;
  flex-direction: column;
  padding: 0% 4%;
}

.c-activity {
  display: none;
}

.c-products-header {
  display: none;
}

.c-hero {
  display: none;
}

.c-jacket-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.c-jacket-item {
  display: flex;
  flex-direction: column;
  max-width: 135px;
  height: auto;
}

.c-jacket-img-conatiner {
  display: flex;
}

.c-jacket-img-conatiner img {
  width: 100%;
}

.c-item-col {
  display: flex;
  flex-direction: column;
}

.c-color-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  align-items: center;
  gap: 0.4rem;
}

.c-color-btn-black {
  display: flex;
  padding: 10px 10px;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
}

.c-color-btn-blue {
  display: flex;
  padding: 10px 10px;
  background-color: blue;
  border-radius: 100%;
  cursor: pointer;
}

.c-color-btn-red {
  display: flex;
  padding: 10px 10px;
  background-color: red;
  border-radius: 100%;
  cursor: pointer;
}

.c-item-col h3 {
  display: flex;
  font-size: 14px;
  font-weight: 500;
}

.c-item-col h3 {
  display: flex;
  font-size: 16px;
}

.c-view-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 5%;
}

.c-view-more-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.c-view-more-container p {
  display: flex;
  color: #5f5e5e;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-line-products-container {
  display: flex;
  width: 60%;
  padding-bottom: 2rem;
  padding-top: 0.7rem;
}

.c-line-products-left {
  display: flex;
  flex: 1 1 auto;
  border-radius: 5px;
  border-bottom: 4px solid gray;
}

.c-line-products-right {
  display: flex;
  flex: 2 1 auto;
  border-radius: 5px;
  border-bottom: 4px solid lightgrey;
}

.c-load-more-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.8rem 1.2rem;
  border: 2px black solid;
  border-radius: 5px;
  cursor: pointer;
  max-width: 60%;
  height: auto;
  font-family: 'Roboto';
}

.c-shipping {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 5%;
}

.c-line {
  display: flex;
  width: 100%;
  border-top: 2px solid #e7e7e7;
}

.c-container-shipping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0% 4%;
}

.c-free-shipping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 27px;
}

.c-free-shipping h4 {
  padding-bottom: 0.75rem;
}

@media screen and (width>786px) {
  .c-container-shipping {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .c-jacket-item {
    max-width: 200px;
  }
}

@media only screen and (width>999px) {
  .c-products-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  .c-jacket-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    font-size: 18px;
    font-family: 'Prompt';
  }

  .c-hero {
    display: flex;
    flex-direction: row;
    width: 100%;

    .c-hero-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      text-align: center;
      justify-content: center;

      .c-hero-img {
        width: 100%;
      }

      .c-hero-text {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 75%;
        color: white;
        font-size: 4rem;
        font-weight: 600;
        font-family: 'Prompt';
      }
    }
  }

  .c-hide-filter {
    display: flex;
    font-weight: bold;
    flex: 1 1 auto;
  }

  .c-header-items {
    justify-content: end;
    flex: 15 1 auto;
  }

  .c-header-filter {
    flex: 1 1 auto;
  }

  .c-header-sort {
    display: none;
  }

  .c-jackets {
    flex-direction: row;
    gap: 2rem;
  }

  .c-activity {
    display: flex;
    flex-direction: column;
    flex: 1 2 auto;
    width: 100%;
    max-width: 400px;

    .c-activity-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 2px solid grey;
      padding: 2rem 2rem;
      font-family: 'Prompt';
      font-weight: 500;

      .c-activity-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        font-weight: 600;
      }

      .c-activity-choose {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0rem;

        .c-activity-checkbox {
          display: flex;
          border-color: #858383;
          width: 22px;
          height: 22px;
        }
      }

      .c-activity-btn {
        display: flex;
        width: 100%;
        cursor: pointer;
        text-decoration: underline;
        padding: 1rem 0rem;
      }

      .c-line-activity {
        border-bottom: 1px solid #858383;
        padding-bottom: 2rem;
        font-size: 18px;
      }

      .c-activity-choosecolor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        font-weight: 600;
        padding-top: 2rem;
      }

      .c-activity-color-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        padding-bottom: 1rem;
        justify-content: space-between;

        .c-activity-color-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          .c-activity-color-ball {
            display: flex;
            padding: 24px 24px;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
          }

          .c-activity-color-name {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
          }

          .c-color-beige {
            background-color: #f5f5dc;
          }

          .c-color-black {
            background-color: #000000;
          }

          .c-color-blue {
            background-color: #0146ac;
          }

          .c-color-grey {
            background-color: #8b8e8c;
          }

          .c-color-yellow {
            background-color: #eea722;
          }

          .c-color-red {
            background-color: #c91f2d;
          }

          .c-color-cactus {
            background-color: #536649;
          }

          .c-color-pink {
            background-color: #ffbfcb;
          }

          .c-color-green {
            background-color: #008001;
          }
        }
      }
    }
  }

  .c-jacket-item {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;
  }
}

.section-6 {
  padding: 0rem;
}

.section-6-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 1.3rem;
}

.section-6-payment-common {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.section-6-main-container img {
  width: 100%;
  height: auto;
}

.section-6-klarna {
  width: 3.6rem;
}

.section-6-paypal {
  width: 2.5rem;
}

.section-6-vipps {
  width: 4rem;
}

.hero-page-hr-6 {
  height: none;
  border: none;
  border-top: 0.5px solid #00000050;
}

/* Footer */

.l-footer {
  background-color: #03346e;
  color: white;
}

.c-footer-col {
  display: flex;
  flex-direction: column;
  min-height: 560px;
  padding-left: 4%;
  padding-right: 4%;
}

.c-footer-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.c-footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 25px;
}

.c-footer-summary {
  display: flex;
  justify-content: space-between;
  font-family: 'play';
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.c-summary-btn {
  display: flex;
  padding-top: 0.2rem;
  font-size: 16px;
  color: white;
}

.c-footer-region {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  border: 1px solid;
}

.c-region-country {
  display: flex;
  flex-grow: 1;
  justify-content: left;
}

.c-region-change {
  display: flex;
  flex-grow: 1;
  font-weight: bold;
}

.c-region-icon {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.c-footer-follow {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  align-items: center;
  flex: 1 1 100%;
}

.c-follow-p {
  display: flex;
  flex: 1 1 50%;
}

.c-follow-container {
  display: flex;
  flex: 1 1 50%;
  gap: 1rem;
}

.c-apple-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: auto;
}

.c-apple-container img {
  width: 100%;
}

.c-google-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.c-google-container img {
  width: 100%;
}

.c-footer-last {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #03346e;
  height: 42.77px;
}

/* rgtbrbtr */